{% extends 'blog/base.html' %}
{% load widget_tweaks %}

{% block title %}Create/Edit Post{% endblock %}
{% block content %}
<h2 class="mb-4">{{ form.instance.pk|yesno:"Edit Post,Create Post" }}</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.title.label_tag }}
        {{ form.title|add_class:"form-control" }}
    </div>
    <div class="mb-3">
        {{ form.content.label_tag }}
        {{ form.content|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'post_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
