<!-- blog/templates/blog/home.html -->
{% extends 'base.html' %}
{% block title %}Home - Blog{% endblock %}

{% block content %}
<h2>All Posts</h2>
<a href="{% url 'post_create' %}" class="btn btn-success mb-3">Create New Post</a>
{% for post in posts %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content|truncatechars:150 }}</p>
            <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary btn-sm">Read More</a>
        </div>
    </div>
{% empty %}
    <p>No posts available.</p>
{% endfor %}
{% endblock %}
