body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.product {
  height: 200vh; /* Important for scroll space */
  position: relative;
}

.product-content {
  position: sticky;
  top: 30%;
  text-align: center;
  z-index: 2;
}

.product-title {
  font-size: 2.5rem;
  margin: 0;
}

.product-desc {
  font-size: 1.2rem;
  opacity: 0.8;
}

.product-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-image img {
  width: 350px;
  transform-origin: center;
}
.morph {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d1117;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  overflow: hidden;
}

.morph-text {
  text-align: center;
}
